<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>梦欤的管理系统项目</title>
  </head>
  <body>
    <div id="loading"><div id="loading-center"><div id="loading-circle"></div></div></div>
    <div id="app"></div>
    <% if(process.env.NODE_ENV == 'development') { %>
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>-->
    <script>var main;</script>
    <% } %>
    <!-- built files will be auto injected -->
  </body>
</html>
